footer {
  background: linear-gradient(
    rgba(151, 151, 151, 0.616),
    rgba(151, 151, 151, 0.616)
  );
  text-align: center;
}

.footer-content {
  margin-top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
}

.some {
  text-align: center;
  margin-top: 15px;
  padding-bottom: 25px;
  color: rgb(0, 0, 0);
  opacity: 0.75;
}

.some a {
  font-size: 24px;
  color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.89);
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.some a:hover {
  opacity: 0.5;
}

.footer-content ul {
  margin-top: 0;
  padding: 0;
  list-style-type: none;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
  opacity: 0.8;
}

.footer-content ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-content ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer-content ul li a:hover {
  color: #df612a;
}

.footer-content .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  font-family: "Nunito Sans", sans-serif;
  opacity: 0.79;
}
