/*----- Map -----*/
.map {
  background: url(../img/maps.jpg);
  width: 100%;
  min-height: 30vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map_container {
  width: 80%;
  margin: auto;
  text-align: left;
  padding-top: 100px;

}
.map_container h1{
  padding-left: 0;
}


.mapboxgl-popup {
max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


@media screen and (max-width:900px) {
  .map {
  margin: 0;
}
.map_container h1{
  padding-left: 0;
}
}