/* general style */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.banner-area {
  width: 100%;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/spaghetti.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.content {
  text-align: center;
}
.content h2 {
  color: white;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5px;
  padding: 70px;
}
.content-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  letter-spacing: 0.5px;
  font-weight: 600;
  padding: 15px 8px;
}

/* search bar */
.search {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  color: gray;
  padding: 10px;
  border: 2px solid #df612a;
  outline: none;
}

.search_content {
  max-width: 600px;
  margin: 30px auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.not_found {
  grid-template-columns: 1fr !important;
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}

.search_btn {
  width: 100%;
  max-width: 50px;
  padding: 10px;
  background: #df612a;
  color: white;
  font-size: 17px;
  border: none;
  border-left: none;
  cursor: pointer;
}

/* recepie container style*/
.result_wrapper {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  max-width: 1200px;
}
.top-section {
  margin-bottom: 10rem;
}
.result_wrapper p {
  font-size: 20px;
  font-weight: 500;
}

.result_container {
  min-height: 100vh;
}

.recepie_content {
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.9);
  margin-top: 1rem;
}

.food_img {
  width: 100%;
  display: block;
}

.food_name {
  padding: 10px;
  font-weight: 600px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.recepie_btn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  background-color: #df612a;
  display: flex;
  justify-content: center;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 1.1rem;
  opacity: 1;
  transition: 0.3s;
  margin: 1rem auto;
}
.recepie_btn:hover{
  opacity: 0.8;
}

@media screen and (min-width: 780px) {
  #top-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
