* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  
}

.banner-area {
  width: 100%;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/spaghetti.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.content {
  text-align: center;
}
.content h2 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: #fff;
  letter-spacing: 1px;
  padding: 70px;
  
}
.content-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  letter-spacing: 0.5px;
  font-weight: 600;
  padding: 15px 8px;
}
/* Main area */
/*


} */

/*----- Aloituskappale ----*/
/* .ss {
  width: 100%;
  margin: auto;
  text-align: left;
  padding-top: 100px;
  background-color: #7194b8;
  padding-bottom: 50px;
}

.col {
  float: left;
  width: 33%;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 150px;
}

@media screen and (max-width: 750px) {
  .row {
    flex-direction: column;
  }
}

img {
  width: 350px;
}

.image1 {
  float: left;
  margin-right: 8rem;
}

.image2 {
  float: right;
  margin-left: 8rem;
}

.aloitus {
  padding: 10px;
  background: #d8d8d8;
}
.aloitus2 {
  padding: 10px;
} */



/* New attempt */

main{
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}


.image{
  width: 100%;
  height: auto;
  max-width: 300px;
  float: left;
}

.image2{
  width: 100%;
  height: auto;
  max-width: 300px;
  float: right;

}


.container{
  display: flex;
  flex-wrap: wrap;
 
}

.colom-content{
  width: 100%;
}

.content_about_us{
  padding: 40px 50px;
}

.content_about_us h3{
  font-weight:700;
  font-size:25px;
  margin-bottom:20px;
}

.content_about_us p{
  font-weight:400;
  font-size:16px;
  margin-bottom:20px;
  margin-bottom:15px;
  text-align:justify;
}
 .content_text_left{
  padding-left: 100px;
  width: 70%;
}

.content_text_right{
  margin-left: 350px; 
  width: 70%;
} 

@media screen and (max-width: 1000px){
  .container{
    flex-flow: row wrap;
  }
  .content_text_left{
  padding:0;
  width: 100%;
}

.content_text_right{
  margin: 0;
  width: 100%;
}
main{
  overflow-x:hidden;
  width: 80%;
  margin: auto;
} 



}