* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  letter-spacing: 0.5px;
  font-weight: 600;
  padding: 15px 8px;
}

/* Pääkuva */
.banner-area {
  width: 100%;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/spaghetti.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.content-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

.content h2 {
  font-size: 35px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  padding: 70px;
}

<<<<<<< HEAD
.boxImg_gray {
  transition: 0.3s; /* Animation */
  margin: left;
  width: 150px;
  height: 150px;
  margin-bottom: 5px;
  cursor: pointer;
}

.boxImg_white {
  transition: 0.3s; /* Animation */
  margin-right: 0;
  width: 150px;
  height: 150px;
  margin-bottom: 5px;
  cursor: pointer;
=======
/* Main area */
body {
  font-family: "Nunito Sans", sans-serif;
}

section h3 {
  font-size: 25px;
  margin-bottom: 15px;
  text-align: left;
  letter-spacing: 0.5px;
>>>>>>> Devlopment
}

.content1 p {
  line-height: 1.7em;
  text-align: left;
  font-size: 17px;
  margin: 18px;
}

.content2 p {
  line-height: 1.7em;
  text-align: left;
  font-size: 17px;
  margin: 18px;
}

/*----- Aloituskappale ----*/
/* .ss {
  width: 100%;
  margin: auto;
  text-align: left;
  padding-top: 100px;
  background-color: #7194b8;
  padding-bottom: 50px;
} */

/* .col {
  float: left;
  width: 33%;
} */

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 150px;
}

/* @media screen and (max-width: 750px) {
  .row {
    flex-direction: column;
  }
} */

img {
  width: 350px;
}

.image1 {
  float: left;
  margin-right: 8rem;
}

.image2 {
  float: right;
  margin-left: 8rem;
}

.aloitus {
  padding: 10px;
  background: #d8d8d8;
}
.aloitus2 {
  padding: 10px;
}
